{layout '../@layout.latte'}

{block content}
  <div class="row intro">

    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12">
      <section>
        <div class="wrapper">
          <pre class="text-justify">
            {$code}
          </pre>
        </div>
      </section>
    </div>
  </div>